<div class="container">
  <div class="row">
    <div class="col-sm-9 mx-auto text-center" >
        <div class=" display-2" style="height:110px;"><strong>About</strong></div>
        <p class="lead">ながのCAKEは全国発送可能なケーキ屋さんです。</br>
        お子様からお年寄りの方までお召し上がりいただけるよう、</br>
        様々なバリエーションをご用意しております。</br>
        また、全国への発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。</br>
        ぜひご注文ください。</p>
        <%= image_tag 'cake2.png' %>
    </div>
  </div>
</div>