<div class="container mt-5 mx-5">
  <div class="row">

    <%= render 'genre_search'%>
    <div class="col-1"></div>
    <div class="col-8">
      <div class="card mx-auto w-75 p-75" style="">
        <%= image_tag 'baked-goods2.jpg', class: "img-fluid" %>
        <div class="card-img-overlay">
          <p class="text-dark"><strong>ようこそ、ながのCAKEへ！</strong></p>
          <p class="text-dark">
          このサイトはケーキ販売の</br>
          ECサイトになります。</br>
          会員でない方も</br>
          商品の閲覧はできますが、</br>
          購入には会員登録が</br>
          必要になります。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>