<div class="container">
  <div class="row">
      <div class="col-md-6">
        <h5>注文情報確認</h5>
        <table class="table table-bordered border-dark">
          <thead>
            <tr class="active">
              <th class="col-md-3">商品名</th>
              <th class="col-md-1">単価(税込)</th>
              <th class="col-md-1">数量</th>
              <th class="col-md-1">小計</th>
            </tr>
          </thead>
          <tbody>
            <% 
          </tbody>
        </table>
      </div>
  </div>
</div>