<footer>
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center fixed-bottom" style="background: url(<%= asset_path "fruit_mf.jpg" %>);" >
        <p class="text-secondary">CopyRight Yoshinogari-Iseki</p>
      </div>
    </div>
  </div>
</footer>