<footer>
  <div class="container mt-5 border-top">
    <div class="row">
      <div class="mx-auto text-center fixed-bottom">
        <p>C.yoshinogariiseki</p>
      </div>
    </div>
  </div>
</footer>